/* .main {

} */
#a1 {
    background-color: lightcoral;
    width: 300px;
    height: 200px;
    float: left;
    padding: 20px;
    margin: 20px;
}
#a2 {
    background-color: beige;
    width: 300px;
    height: 200px;
    clear: both;
    padding: 20px;
    margin: 20px;
    float: right;

}
#a3 {
    background-color: lightblue;
    width: 300px;
    height: 200px;
    float: right;
    padding: 20px;
    margin: 20px;
    clear: top;
}